


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);

-- Documents table for knowledge base (embeddings stored in `vector` column)
-- Uses the `vector` extension. Adjust vector dimension if you use a different embedding model.
CREATE EXTENSION IF NOT EXISTS vector;

CREATE TABLE IF NOT EXISTS documents (
    id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
    doc_name text NOT NULL,
    section text,
    content text NOT NULL,
    embedding vector(1536) NOT NULL,
    metadata jsonb,
    created_at timestamptz DEFAULT now()
);

-- RPC helper: find nearest documents by passing a float8[] query embedding and a match count
CREATE OR REPLACE FUNCTION match_documents(query_vector float8[], match_count int DEFAULT 4)
RETURNS TABLE(id uuid, doc_name text, section text, content text, metadata jsonb, score double precision)
AS $$
    SELECT d.id, d.doc_name, d.section, d.content, d.metadata, 1 - (d.embedding <-> query_vector::vector) AS score
    FROM documents d
    ORDER BY d.embedding <-> query_vector::vector
    LIMIT match_count;
$$ LANGUAGE sql STABLE;
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "postgres";


CREATE TYPE "public"."claim_status" AS ENUM (
    'approved',
    'rejected',
    'pending'
);


ALTER TYPE "public"."claim_status" OWNER TO "postgres";


CREATE TYPE "public"."claim_type" AS ENUM (
    'auto',
    'manual'
);


ALTER TYPE "public"."claim_type" OWNER TO "postgres";


CREATE TYPE "public"."insurance_plan_type" AS ENUM (
    'starter',
    'shield',
    'pro'
);


ALTER TYPE "public"."insurance_plan_type" OWNER TO "postgres";


CREATE TYPE "public"."payment_status" AS ENUM (
    'pending',
    'success'
);


ALTER TYPE "public"."payment_status" OWNER TO "postgres";


CREATE TYPE "public"."payout_status" AS ENUM (
    'processing',
    'completed',
    'failed'
);


ALTER TYPE "public"."payout_status" OWNER TO "postgres";


CREATE TYPE "public"."platform_type" AS ENUM (
    'blinkit',
    'zepto',
    'instamart'
);


ALTER TYPE "public"."platform_type" OWNER TO "postgres";


CREATE TYPE "public"."trigger_type" AS ENUM (
    'rainfall',
    'extreme_heat',
    'flood',
    'cold_fog',
    'civil_unrest',
    'platform_outage'
);


ALTER TYPE "public"."trigger_type" OWNER TO "postgres";


CREATE TYPE "public"."user_role" AS ENUM (
    'worker',
    'zonal_admin',
    'control_admin'
);


ALTER TYPE "public"."user_role" OWNER TO "postgres";


CREATE TYPE "public"."vehicle_type" AS ENUM (
    'bike',
    'scooter'
);


ALTER TYPE "public"."vehicle_type" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
BEGIN
    INSERT INTO public.users (id, name, phone, role)
    VALUES (
        NEW.id,
        NEW.raw_user_meta_data ->> 'name',
        NEW.phone,
        COALESCE(
            (NEW.raw_user_meta_data ->> 'role')::user_role,
            'worker'
        )
    );
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."admin_actions" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "admin_id" "uuid",
    "action_type" character varying(100),
    "target_id" "uuid",
    "target_type" character varying(50),
    "reason" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."admin_actions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."admins" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "user_id" "uuid",
    "role" "public"."user_role" NOT NULL,
    "assigned_zone_id" "uuid",
    "permissions" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "check_admin_role" CHECK (("role" = ANY (ARRAY['zonal_admin'::"public"."user_role", 'control_admin'::"public"."user_role"])))
);


ALTER TABLE "public"."admins" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."audit_logs" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "user_id" "uuid",
    "user_type" character varying(20),
    "action" character varying(100),
    "entity_type" character varying(50),
    "entity_id" "uuid",
    "old_values" "jsonb",
    "new_values" "jsonb",
    "metadata" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."audit_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."chat_faqs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "question" "text" NOT NULL,
    "answer" "text" NOT NULL,
    "category" character varying(50) NOT NULL,
    "language" character varying(10) DEFAULT 'en'::character varying,
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."chat_faqs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."chat_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "worker_id" "uuid" NOT NULL,
    "session_id" character varying(100) NOT NULL,
    "user_message" "text" NOT NULL,
    "bot_response" "text" NOT NULL,
    "query_type" character varying(20) NOT NULL,
    "language" character varying(10) DEFAULT 'en'::character varying,
    "timestamp" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."chat_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."claim_verifications" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "claim_id" "uuid",
    "gps_valid" boolean,
    "platform_session_valid" boolean,
    "ml_anomaly_score" numeric(5,2),
    "device_integrity_valid" boolean,
    "movement_pattern_valid" boolean,
    "verified_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."claim_verifications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."claims" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "worker_id" "uuid",
    "disruption_id" "uuid",
    "claim_type" "public"."claim_type",
    "status" "public"."claim_status",
    "claim_time" timestamp with time zone DEFAULT "now"(),
    "start_time" timestamp with time zone,
    "end_time" timestamp with time zone,
    "orders_before" integer,
    "orders_during" integer,
    "claim_hour" integer,
    "fraud_score" numeric(5,2),
    "reason" "text",
    "amount" numeric(10,2),
    "payment_status" "public"."payment_status",
    "paid_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."claims" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."delivery_zones" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "name" character varying(100),
    "city" character varying(100),
    "risk_score" numeric(3,2),
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."delivery_zones" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."demand_profiles" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "zone_id" "uuid",
    "time_slot" character varying(20),
    "demand_score" numeric(5,2),
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."demand_profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."disruption_events" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "zone_id" "uuid",
    "raw_type" character varying(50),
    "raw_value" numeric(5,2),
    "threshold_exceeded" boolean,
    "recorded_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."disruption_events" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."disruption_impacts" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "disruption_id" "uuid",
    "worker_id" "uuid",
    "was_active" boolean,
    "eligible" boolean,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."disruption_impacts" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."disruptions" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "zone_id" "uuid",
    "trigger_type" "public"."trigger_type",
    "severity_level" integer,
    "start_time" timestamp with time zone,
    "end_time" timestamp with time zone,
    "duration_minutes" integer,
    "source" character varying(50),
    "created_at" timestamp with time zone DEFAULT "now"()
);

    "name" "public"."insurance_plan_type" NOT NULL,
    "weekly_premium" numeric(10,2) NOT NULL,
    "coverage_percentage" integer NOT NULL,
    "weekly_max_payout" numeric(10,2) NOT NULL,
    "claim_wait_minutes" integer NOT NULL,
    "includes_platform_outage" boolean DEFAULT false,
    "description" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."insurance_plans" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."orders" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "worker_id" "uuid",
    "zone_id" "uuid",
    "timestamp" timestamp with time zone,
    "earnings" numeric(10,2),
    "time_slot" character varying(20),
    "day_of_week" integer
);


ALTER TABLE "public"."orders" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."payout_queue" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "claim_id" "uuid",
    "priority" integer DEFAULT 1,
    "status" character varying(20),
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."payout_queue" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."payouts" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "worker_id" "uuid",
    "claim_id" "uuid",
    "amount" numeric(10,2),
    "status" "public"."payout_status",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "completed_at" timestamp with time zone
);


ALTER TABLE "public"."payouts" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."users" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "name" character varying(100),
    "phone" character varying(15) NOT NULL,
    "role" "public"."user_role" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."users" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."wallet_transactions" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "worker_id" "uuid",
    "amount" numeric(10,2),
    "balance_after" numeric(10,2),
    "transaction_type" character varying(50),
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."wallet_transactions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."worker_activity_logs" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "worker_id" "uuid",
    "is_active" boolean,
    "recorded_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."worker_activity_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."worker_insurance" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "worker_id" "uuid",
    "plan" "public"."insurance_plan_type" NOT NULL,
    "start_date" timestamp with time zone DEFAULT "now"(),
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."worker_insurance" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."worker_risk_scores" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "worker_id" "uuid",
    "overall_risk_score" numeric(5,2),
    "fraud_risk" numeric(5,2),
    "behavior_risk" numeric(5,2),
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."worker_risk_scores" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."worker_vehicles" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "worker_id" "uuid",
    "vehicle_type" "public"."vehicle_type",
    "registration_number" character varying(20),
    "is_primary" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."worker_vehicles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."worker_weekly_stats" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "worker_id" "uuid",
    "week_start_date" "date",
    "total_earnings" numeric(10,2),
    "active_hours" numeric(5,2),
    "total_deliveries" integer
);


ALTER TABLE "public"."worker_weekly_stats" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."workers" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "user_id" "uuid",
    "name" character varying(100),
    "platform" "public"."platform_type",
    "assigned_zone_id" "uuid",
    "current_lat" numeric(10,8),
    "current_lng" numeric(11,8),
    "is_logged_in" boolean DEFAULT false,
    "fraud_score" numeric(5,2) DEFAULT 0,
    "cooling_period_until" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "upi_id" character varying(100)
);


ALTER TABLE "public"."workers" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."zone_risk_history" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "zone_id" "uuid",
    "risk_score" numeric(3,2),
    "claim_count" integer,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."zone_risk_history" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."zone_status" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "zone_id" "uuid",
    "disruption_id" "uuid",
    "status" character varying(20),
    "started_at" timestamp with time zone,
    "ended_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."zone_status" OWNER TO "postgres";


ALTER TABLE ONLY "public"."admin_actions"
    ADD CONSTRAINT "admin_actions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."admins"
    ADD CONSTRAINT "admins_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."admins"
    ADD CONSTRAINT "admins_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."claim_verifications"
    ADD CONSTRAINT "claim_verifications_claim_id_key" UNIQUE ("claim_id");



ALTER TABLE ONLY "public"."claim_verifications"
    ADD CONSTRAINT "claim_verifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."claims"
    ADD CONSTRAINT "claims_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."claims"
    ADD CONSTRAINT "claims_worker_id_disruption_id_key" UNIQUE ("worker_id", "disruption_id");



ALTER TABLE ONLY "public"."delivery_zones"
    ADD CONSTRAINT "delivery_zones_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."demand_profiles"
    ADD CONSTRAINT "demand_profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."disruption_events"
    ADD CONSTRAINT "disruption_events_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."disruption_impacts"
    ADD CONSTRAINT "disruption_impacts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."disruptions"
    ADD CONSTRAINT "disruptions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."income_predictions"
    ADD CONSTRAINT "income_predictions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."insurance_plans"
    ADD CONSTRAINT "insurance_plans_name_key" UNIQUE ("name");



ALTER TABLE ONLY "public"."insurance_plans"
    ADD CONSTRAINT "insurance_plans_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."orders"
    ADD CONSTRAINT "orders_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."payout_queue"
    ADD CONSTRAINT "payout_queue_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."payouts"
    ADD CONSTRAINT "payouts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_phone_key" UNIQUE ("phone");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."wallet_transactions"
    ADD CONSTRAINT "wallet_transactions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."worker_activity_logs"
    ADD CONSTRAINT "worker_activity_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."worker_insurance"
    ADD CONSTRAINT "worker_insurance_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."worker_insurance"
    ADD CONSTRAINT "worker_insurance_worker_id_key" UNIQUE ("worker_id");



ALTER TABLE ONLY "public"."worker_risk_scores"
    ADD CONSTRAINT "worker_risk_scores_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."worker_vehicles"
    ADD CONSTRAINT "worker_vehicles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."worker_weekly_stats"
    ADD CONSTRAINT "worker_weekly_stats_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."workers"
    ADD CONSTRAINT "workers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."workers"
    ADD CONSTRAINT "workers_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."zone_risk_history"
    ADD CONSTRAINT "zone_risk_history_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."zone_status"
    ADD CONSTRAINT "zone_status_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_activity_recorded" ON "public"."worker_activity_logs" USING "btree" ("recorded_at");



CREATE INDEX "idx_activity_worker" ON "public"."worker_activity_logs" USING "btree" ("worker_id");



CREATE INDEX "idx_audit_entity" ON "public"."audit_logs" USING "btree" ("entity_type", "entity_id");



CREATE INDEX "idx_claims_disruption" ON "public"."claims" USING "btree" ("disruption_id");



CREATE INDEX "idx_claims_status" ON "public"."claims" USING "btree" ("status");



CREATE INDEX "idx_claims_worker" ON "public"."claims" USING "btree" ("worker_id");



CREATE INDEX "idx_disruptions_trigger" ON "public"."disruptions" USING "btree" ("trigger_type");



CREATE INDEX "idx_disruptions_zone" ON "public"."disruptions" USING "btree" ("zone_id");



CREATE INDEX "idx_orders_timestamp" ON "public"."orders" USING "btree" ("timestamp");



CREATE INDEX "idx_orders_worker" ON "public"."orders" USING "btree" ("worker_id");



CREATE INDEX "idx_orders_zone" ON "public"."orders" USING "btree" ("zone_id");



CREATE INDEX "idx_payouts_status" ON "public"."payouts" USING "btree" ("status");



CREATE INDEX "idx_payouts_worker" ON "public"."payouts" USING "btree" ("worker_id");



CREATE INDEX "idx_wallet_worker" ON "public"."wallet_transactions" USING "btree" ("worker_id");



CREATE INDEX "idx_workers_platform" ON "public"."workers" USING "btree" ("platform");



CREATE INDEX "idx_workers_zone" ON "public"."workers" USING "btree" ("assigned_zone_id");



ALTER TABLE ONLY "public"."admin_actions"
    ADD CONSTRAINT "admin_actions_admin_id_fkey" FOREIGN KEY ("admin_id") REFERENCES "public"."admins"("id");



ALTER TABLE ONLY "public"."admins"
    ADD CONSTRAINT "admins_assigned_zone_id_fkey" FOREIGN KEY ("assigned_zone_id") REFERENCES "public"."delivery_zones"("id");



ALTER TABLE ONLY "public"."admins"
    ADD CONSTRAINT "admins_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."claim_verifications"
    ADD CONSTRAINT "claim_verifications_claim_id_fkey" FOREIGN KEY ("claim_id") REFERENCES "public"."claims"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."claims"
    ADD CONSTRAINT "claims_disruption_id_fkey" FOREIGN KEY ("disruption_id") REFERENCES "public"."disruptions"("id");



ALTER TABLE ONLY "public"."claims"
    ADD CONSTRAINT "claims_worker_id_fkey" FOREIGN KEY ("worker_id") REFERENCES "public"."workers"("id");



ALTER TABLE ONLY "public"."demand_profiles"
    ADD CONSTRAINT "demand_profiles_zone_id_fkey" FOREIGN KEY ("zone_id") REFERENCES "public"."delivery_zones"("id");



ALTER TABLE ONLY "public"."disruption_events"
    ADD CONSTRAINT "disruption_events_zone_id_fkey" FOREIGN KEY ("zone_id") REFERENCES "public"."delivery_zones"("id");



ALTER TABLE ONLY "public"."disruption_impacts"
    ADD CONSTRAINT "disruption_impacts_disruption_id_fkey" FOREIGN KEY ("disruption_id") REFERENCES "public"."disruptions"("id");



ALTER TABLE ONLY "public"."disruption_impacts"
    ADD CONSTRAINT "disruption_impacts_worker_id_fkey" FOREIGN KEY ("worker_id") REFERENCES "public"."workers"("id");



ALTER TABLE ONLY "public"."disruptions"
    ADD CONSTRAINT "disruptions_zone_id_fkey" FOREIGN KEY ("zone_id") REFERENCES "public"."delivery_zones"("id");



ALTER TABLE ONLY "public"."income_predictions"
    ADD CONSTRAINT "income_predictions_worker_id_fkey" FOREIGN KEY ("worker_id") REFERENCES "public"."workers"("id");



ALTER TABLE ONLY "public"."orders"
    ADD CONSTRAINT "orders_worker_id_fkey" FOREIGN KEY ("worker_id") REFERENCES "public"."workers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."orders"
    ADD CONSTRAINT "orders_zone_id_fkey" FOREIGN KEY ("zone_id") REFERENCES "public"."delivery_zones"("id");



ALTER TABLE ONLY "public"."payout_queue"
    ADD CONSTRAINT "payout_queue_claim_id_fkey" FOREIGN KEY ("claim_id") REFERENCES "public"."claims"("id");



ALTER TABLE ONLY "public"."payouts"
    ADD CONSTRAINT "payouts_claim_id_fkey" FOREIGN KEY ("claim_id") REFERENCES "public"."claims"("id");



ALTER TABLE ONLY "public"."payouts"
    ADD CONSTRAINT "payouts_worker_id_fkey" FOREIGN KEY ("worker_id") REFERENCES "public"."workers"("id");



ALTER TABLE ONLY "public"."wallet_transactions"
    ADD CONSTRAINT "wallet_transactions_worker_id_fkey" FOREIGN KEY ("worker_id") REFERENCES "public"."workers"("id");



ALTER TABLE ONLY "public"."worker_activity_logs"
    ADD CONSTRAINT "worker_activity_logs_worker_id_fkey" FOREIGN KEY ("worker_id") REFERENCES "public"."workers"("id");



ALTER TABLE ONLY "public"."worker_insurance"
    ADD CONSTRAINT "worker_insurance_worker_id_fkey" FOREIGN KEY ("worker_id") REFERENCES "public"."workers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."worker_risk_scores"
    ADD CONSTRAINT "worker_risk_scores_worker_id_fkey" FOREIGN KEY ("worker_id") REFERENCES "public"."workers"("id");



ALTER TABLE ONLY "public"."worker_vehicles"
    ADD CONSTRAINT "worker_vehicles_worker_id_fkey" FOREIGN KEY ("worker_id") REFERENCES "public"."workers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."worker_weekly_stats"
    ADD CONSTRAINT "worker_weekly_stats_worker_id_fkey" FOREIGN KEY ("worker_id") REFERENCES "public"."workers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."workers"
    ADD CONSTRAINT "workers_assigned_zone_id_fkey" FOREIGN KEY ("assigned_zone_id") REFERENCES "public"."delivery_zones"("id");



ALTER TABLE ONLY "public"."workers"
    ADD CONSTRAINT "workers_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."zone_risk_history"
    ADD CONSTRAINT "zone_risk_history_zone_id_fkey" FOREIGN KEY ("zone_id") REFERENCES "public"."delivery_zones"("id");



ALTER TABLE ONLY "public"."zone_status"
    ADD CONSTRAINT "zone_status_disruption_id_fkey" FOREIGN KEY ("disruption_id") REFERENCES "public"."disruptions"("id");



ALTER TABLE ONLY "public"."zone_status"
    ADD CONSTRAINT "zone_status_zone_id_fkey" FOREIGN KEY ("zone_id") REFERENCES "public"."delivery_zones"("id");



ALTER TABLE "public"."admin_actions" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "admin_actions: insert own" ON "public"."admin_actions" FOR INSERT TO "authenticated" WITH CHECK (("admin_id" = ( SELECT "admins"."id"
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "admin_actions: read own" ON "public"."admin_actions" FOR SELECT TO "authenticated" USING (("admin_id" = ( SELECT "admins"."id"
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."admins" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "admins: control_admin read all" ON "public"."admins" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins" "admins_1"
  WHERE (("admins_1"."user_id" = "auth"."uid"()) AND ("admins_1"."role" = 'control_admin'::"public"."user_role")))));



CREATE POLICY "admins: read own" ON "public"."admins" FOR SELECT TO "authenticated" USING (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."audit_logs" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "audit_logs: admin read" ON "public"."audit_logs" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "audit_logs: system insert" ON "public"."audit_logs" FOR INSERT TO "authenticated" WITH CHECK (true);



ALTER TABLE "public"."claim_verifications" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "claim_verifications: admin all" ON "public"."claim_verifications" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "claim_verifications: read own" ON "public"."claim_verifications" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM ("public"."claims" "c"
     JOIN "public"."workers" "w" ON (("w"."id" = "c"."worker_id")))
  WHERE (("c"."id" = "claim_verifications"."claim_id") AND ("w"."user_id" = "auth"."uid"())))));



ALTER TABLE "public"."claims" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "claims: admin all" ON "public"."claims" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "claims: insert own" ON "public"."claims" FOR INSERT TO "authenticated" WITH CHECK (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



CREATE POLICY "claims: read own" ON "public"."claims" FOR SELECT TO "authenticated" USING (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."delivery_zones" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "delivery_zones: admin write" ON "public"."delivery_zones" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "delivery_zones: read all" ON "public"."delivery_zones" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."demand_profiles" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "demand_profiles: admin write" ON "public"."demand_profiles" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "demand_profiles: read all" ON "public"."demand_profiles" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."disruption_events" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "disruption_events: admin all" ON "public"."disruption_events" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."disruption_impacts" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "disruption_impacts: admin all" ON "public"."disruption_impacts" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "disruption_impacts: read own" ON "public"."disruption_impacts" FOR SELECT TO "authenticated" USING (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."disruptions" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "disruptions: admin write" ON "public"."disruptions" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "disruptions: read all authenticated" ON "public"."disruptions" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."income_predictions" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "income_predictions: admin all" ON "public"."income_predictions" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "income_predictions: read own" ON "public"."income_predictions" FOR SELECT TO "authenticated" USING (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."insurance_plans" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "insurance_plans: admin write" ON "public"."insurance_plans" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "insurance_plans: read all" ON "public"."insurance_plans" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."orders" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "orders: admin read all" ON "public"."orders" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "orders: read own" ON "public"."orders" FOR SELECT TO "authenticated" USING (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."payout_queue" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "payout_queue: admin all" ON "public"."payout_queue" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."payouts" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "payouts: admin all" ON "public"."payouts" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "payouts: read own" ON "public"."payouts" FOR SELECT TO "authenticated" USING (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."users" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "users: admin read all" ON "public"."users" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "users: read own" ON "public"."users" FOR SELECT TO "authenticated" USING (("id" = ( SELECT "users_1"."id"
   FROM "public"."users" "users_1"
  WHERE (("users_1"."phone")::"text" = ("auth"."jwt"() ->> 'phone'::"text"))
 LIMIT 1)));



CREATE POLICY "users: service_role all" ON "public"."users" TO "service_role" USING (true) WITH CHECK (true);



CREATE POLICY "users: update own" ON "public"."users" FOR UPDATE TO "authenticated" USING (("id" = ( SELECT "users_1"."id"
   FROM "public"."users" "users_1"
  WHERE (("users_1"."phone")::"text" = ("auth"."jwt"() ->> 'phone'::"text"))
 LIMIT 1)));



ALTER TABLE "public"."wallet_transactions" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "wallet_transactions: admin all" ON "public"."wallet_transactions" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "wallet_transactions: read own" ON "public"."wallet_transactions" FOR SELECT TO "authenticated" USING (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."worker_activity_logs" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "worker_activity_logs: insert own" ON "public"."worker_activity_logs" FOR INSERT TO "authenticated" WITH CHECK (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



CREATE POLICY "worker_activity_logs: read own" ON "public"."worker_activity_logs" FOR SELECT TO "authenticated" USING (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."worker_insurance" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "worker_insurance: admin all" ON "public"."worker_insurance" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "worker_insurance: read own" ON "public"."worker_insurance" FOR SELECT TO "authenticated" USING (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."worker_risk_scores" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "worker_risk_scores: admin all" ON "public"."worker_risk_scores" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "worker_risk_scores: read own" ON "public"."worker_risk_scores" FOR SELECT TO "authenticated" USING (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."worker_vehicles" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "worker_vehicles: insert own" ON "public"."worker_vehicles" FOR INSERT TO "authenticated" WITH CHECK (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



CREATE POLICY "worker_vehicles: read own" ON "public"."worker_vehicles" FOR SELECT TO "authenticated" USING (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



CREATE POLICY "worker_vehicles: update own" ON "public"."worker_vehicles" FOR UPDATE TO "authenticated" USING (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."worker_weekly_stats" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "worker_weekly_stats: admin all" ON "public"."worker_weekly_stats" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "worker_weekly_stats: read own" ON "public"."worker_weekly_stats" FOR SELECT TO "authenticated" USING (("worker_id" = ( SELECT "workers"."id"
   FROM "public"."workers"
  WHERE ("workers"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."workers" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "workers: admin read all" ON "public"."workers" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "workers: insert on register" ON "public"."workers" FOR INSERT TO "authenticated" WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "workers: read own" ON "public"."workers" FOR SELECT TO "authenticated" USING (("user_id" = "auth"."uid"()));



CREATE POLICY "workers: update own" ON "public"."workers" FOR UPDATE TO "authenticated" USING (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."zone_risk_history" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "zone_risk_history: admin all" ON "public"."zone_risk_history" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



ALTER TABLE "public"."zone_status" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "zone_status: admin write" ON "public"."zone_status" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."admins"
  WHERE ("admins"."user_id" = "auth"."uid"()))));



CREATE POLICY "zone_status: read all" ON "public"."zone_status" FOR SELECT TO "authenticated" USING (true);



REVOKE USAGE ON SCHEMA "public" FROM PUBLIC;
GRANT ALL ON SCHEMA "public" TO PUBLIC;
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON TABLE "public"."admin_actions" TO "service_role";



GRANT ALL ON TABLE "public"."admins" TO "service_role";



GRANT ALL ON TABLE "public"."audit_logs" TO "service_role";

GRANT ALL ON TABLE "public"."claim_verifications" TO "service_role";



GRANT ALL ON TABLE "public"."claims" TO "service_role";



GRANT ALL ON TABLE "public"."delivery_zones" TO "service_role";



GRANT ALL ON TABLE "public"."demand_profiles" TO "service_role";



GRANT ALL ON TABLE "public"."disruption_events" TO "service_role";



GRANT ALL ON TABLE "public"."disruption_impacts" TO "service_role";



GRANT ALL ON TABLE "public"."disruptions" TO "service_role";



GRANT ALL ON TABLE "public"."income_predictions" TO "service_role";



GRANT ALL ON TABLE "public"."insurance_plans" TO "service_role";



GRANT ALL ON TABLE "public"."orders" TO "service_role";



GRANT ALL ON TABLE "public"."payout_queue" TO "service_role";



GRANT ALL ON TABLE "public"."payouts" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "service_role";



GRANT ALL ON TABLE "public"."wallet_transactions" TO "service_role";



GRANT ALL ON TABLE "public"."worker_activity_logs" TO "service_role";



GRANT ALL ON TABLE "public"."worker_insurance" TO "service_role";



GRANT ALL ON TABLE "public"."worker_risk_scores" TO "service_role";



GRANT ALL ON TABLE "public"."worker_vehicles" TO "service_role";



GRANT ALL ON TABLE "public"."worker_weekly_stats" TO "service_role";



GRANT ALL ON TABLE "public"."workers" TO "service_role";



GRANT ALL ON TABLE "public"."zone_risk_history" TO "service_role";



GRANT ALL ON TABLE "public"."zone_status" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";




